@use "normalize";
@use "variables";
@use "typography";
@use "mixin";
@use "global";

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: background-color 0.4s ease-in-out, transform 0.3s ease-out;

  &.scroll {
    background-color: var(--color-dark);

    & .logo {
      filter: invert(1);
    }
  }

  &.hide {
    transform: translateY(-100%);
  }
}

.logo {
  transition: filter 0.4s ease-in-out;
}

.menu__burger {
  position: relative;
  display: none;
  width: 32px;
  padding-bottom: 22px;
  border-top: 3px solid var(--color-white);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 3px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 32px;
    left: 50%;
    height: 3px;
    transform: translateX(-50%);
    background-color: var(--color-white);
    border-radius: var(--radius-small);
  }

  &::before {
    top: 6px;
  }

  &::after {
    bottom: 3px;
  }
}

.menu {
  @include mixin.flex-vc-hsb();
  padding: 12px 0;

  &__list {
    @include mixin.flex-vc-hsb();
    gap: clamp(24px, 3rem, 48px);
  }
}

.hero {
  position: relative;
  padding: calc(var(--header-height)*2) 0 32px;

  & .accent {
    max-width: initial;
    margin: 0 auto 12px;
    text-align: left;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    max-width: 524px;
    width: 100%;
  }

  &__content h1,
  &__desc {
    margin-bottom: 32px;
  }

  &__desc p {
    color: var(--color-gray);

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__media {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.about {
  h2 {
    margin-left: 0;
  }

  &__content p {
    color: var(--color-gray);

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.tabs {
  &__nav {
    @include mixin.flex-a-c;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 46px;

    & li span {
      text-align: center;
    }
  }

  &__item {
    box-shadow: var(--shadow-card);
  }
}

.flex-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(20px, 2.8vw, 40px) clamp(14px, 1.4vw, 20px);

  &__item {
    position: relative;
    border-radius: var(--radius-small);
    overflow: hidden;

    & span {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: -2;
      pointer-events: none;
      opacity: 0;
      padding: 8px 20px;
      line-height: 1;
      border-radius: var(--radius-small);
      transform: translate(-50%, -50%);
      text-transform: capitalize;
      text-align: center;
      background-color: var(--color-milk);
      transition: opacity 0.4s ease-in-out;
      cursor: pointer;
    }

    &:hover span {
      z-index: 2;
      pointer-events: all;
      opacity: 1;
    }

    & p {
      font-size: 16px;
      line-height: 1.1;
      font-weight: var(--fw-700);
      color: var(--color-green);
      text-align: center;
      background-color: transparent;
      transition: background-color 0.4s ease-in, color 0.4s ease-in;
    }

    &:hover p {
      color: transparent;
    }

    & picture {
      transition: filter 0.4s ease-in-out, transform 0.3s ease-in;
      width: 100%;
      overflow: hidden;
      border-radius: var(--radius-small);
    }

    &:hover picture {
      filter: brightness(0.4) blur(0.8px);
      transform: scale(1.2);
    }

    & img {
      object-fit: cover;
      object-position: top;
      min-height: 220px;
    }
  }

  &__item-image {
    margin-bottom: 12px;
    max-height: 600px;
  }
}

.footer {
  position: relative;
  color: var(--color-milk);
  padding-top: 18vw;

  &__wrapper {
    padding-bottom: clamp(20px, 5vw, 40px);
    background-color: var(--color-green);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 19vw;
    background-image: url(../images/footer-decor.svg);
  }


  h2 {
    margin: 0 auto clamp(30px, 5vw, 40px);
    color: var(--color-milk);
  }

  small {
    display: block;
    text-align: center;
    font-size: clamp(12px, 1.8rem, 14px);
  }
}

.socials {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 40px;

  &__item>a {
    position: relative;
    width: 42px;
    height: 42px;
    display: block;
    color: var(--color-milk);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
    }

    &:hover::before {
      transform: scale(1.1);
      opacity: 0.8;
    }
  }

  &__item--linkedin>a::before {
    background-image: url(../images/icons/linkedin.svg);
  }

  &__item--facebook>a::before {
    background-image: url(../images/icons/facebook.svg);
  }

  &__item--email>a::before {
    background-image: url(../images/icons/email.svg);
  }
}

@media (min-width: 1800px) {
  .hero {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@media (max-width: 1280px) {
  .hero {
    padding-top: 240px;

    &__content {
      background-color: var(--color-white);
      padding: 16px;
      border-radius: var(--radius-main);
      z-index: 1;
    }
  }
}

@media (max-width: 1050px) {
  .menu {
    padding-inline: 20px;
  }

  .hero {
    padding-top: clamp(290px, 52vw, 400px);

    &__media {
      width: 100%;
    }

    &__img {
      width: inherit;

      img {
        object-position: top right;
        object-fit: contain;
      }
    }

    &__content {
      max-width: 100%;
    }
  }

  .flex-box {
    grid-template-columns: repeat(2, 1fr);

    &__item {
      &:hover span {
        z-index: -10;
        pointer-events: none;
        opacity: 0;
      }

      &:hover picture {
        transform: scale(1);
        filter: none
      }

      &:hover p {
        color: var(--color-green);
      }
    }
  }
}

@media (max-width: 786px) {
  .header {
    position: fixed;
    background-color: var(--color-gray);

    .logo {
      filter: invert(1);
    }

    &.hide {
      transform: translateY(0);
    }
  }

  .menu__burger {
    display: block;
  }

  .menu__burger.open {
    border-color: transparent;
  }

  .menu__burger.open::before,
  .menu__burger.open::after {
    top: 6px;
    left: 0;
  }

  .menu__burger.open::before {
    transform: rotate(40deg) translate(0px, 0px);
  }

  .menu__burger.open::after {
    transform: rotate(-40deg) translate(0px, 0px);
  }

  .menu__list {
    position: absolute;
    right: 0;
    padding: 20px 20px 0;
    display: block;
    top: 100%;
    background-color: var(--color-dark);
    height: 100vh;
    width: 40%;
    transform: translateY(-120%);
    pointer-events: none;
    opacity: 0;
    z-index: -100;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

  .menu__list.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
    z-index: 10;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 26px;
  }
}

@media (max-width: 560px) {
  .menu {
    &__list {
      width: 100%;
    }

    &__item {
      text-align: right;
    }
  }

  .hero {
    padding-top: var(--header-height);
    overflow: hidden;

    &__inner {
      flex-direction: column-reverse;
    }

    &__media {
      position: relative;
      width: calc(100% + (2 * var(--container-offset)));
    }

    &__img {
      img {
        height: auto;
      }
    }

    &__links {
      justify-content: space-evenly;
    }

    &__content .accent,
    &__content h1 {
      text-align: center;
    }
  }

  .about h2 {
    margin-inline: auto;
  }

  .tabs__list,
  .flex-box {
    grid-template-columns: 1fr;
  }

  .flex-box__item img {
    height: auto;
  }
}

@media (max-width: 480px) {
  .tabs__nav span.btn {
    display: block;
    max-width: 100%;
  }
}